@charset "UTF-8";

@font-face{
    font-family: 'Dubrovinik';
    src: url('dubrovnik-hill-regular-maisfontes.ded9/dubrovnik-hill-regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: 'Oriental';
    src: url('oriental-1-maisfontes.0c65/oriental-1.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --cor0: #eecdce;
    --cor1: #A41B20;
    --cor2: #000000;
    --cor3: #ffffff;
    --cor4: #332223;
    --cor5: #f7c26d;

    --fonte-padrao: Arial, Verdana, Helvetica, 'cursive';

    --fonte-destaque: 'Dubrovinik', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    margin: 10px;
}
header{
    background-color: var(--cor5);
    font-family: var(--fonte-destaque);
    font-size: larger;
    text-align: center;
}
nav{
    margin: auto;
    background-color: antiquewhite;
    text-align: center;
}
nav > a {
    color: var(--cor5);
    margin: 0px 30px; 
    text-decoration: none;
    font-size: 0.5em;
}
main {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    line-height: 2em;
}
h1 {
    margin-top: 20px;
    padding: 10px;
    font-family: var(--fonte-destaque);
}
p {
    text-indent: 30px;
    text-align: justify;
    margin-top: 10px;
}
img{
    width: 100%;
}
iframe{
    width: 100%;
}
footer{
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
}
footer p {
    font-size: larger;
    text-align: center;
    text-indent: 10px;
}
footer > p > a {
    text-decoration: none;
    color: black;
}
footer > p > a:hover {
    background-color: var(--cor5);
    text-decoration: underline;
}